body{
	background: url("blue.png");
}
p{
	font-family: Courier New;
	color: white;
	text-align: center;
	padding-top: 50px;
	
}
b{
	font-family: Courier New;
	color: white;
	text-align: center;
	padding-top: 50px;
	
}
	
form {
	margin-left: 300px;
    width: 50%;
    border: 3px solid white;
    padding-top: 30px;
	position: center;
}
h1{
	color: white;
	padding-top: 30px;
	margin-left: 250px;
	position: center;
}
h2{
	color: white;
	padding-top: 30px;
	margin-left: 250px;
	position: center;
}